[2012-08-16 01:04] fabriciocolombo opened #1 "Support HTTPS"
Support to HTTPS connection

[2012-08-16 01:07] fabriciocolombo opened #2 "Implement UriBuilder to simplify the construction of url"
URIBuilder to simplify the construction of url with support to:
 - with QueryParams: servername/controllername/actionname?par1&par2
 - with Path params: servername/controllername/actionname/par1/par2

[2012-08-16 01:09] fabriciocolombo opened #3 "Anonymous methods to handle response"
Can also use anonymous methods to register callback of request to handle response.

[2012-08-16 01:13] fabriciocolombo opened #4 "Support to DBXJson"
Rest method should be accept and return DBXJson Objects, like;

        function Post(Content: TJSONObject): TJSONObject;

[2012-08-17 03:22] #3 closed, assigned to nobody

[2013-03-04 12:21] Tarvirdi opened #5 "How Put TList<T> and get TList<T> in response"
I need send (PUT) some records in TList<T> pack and get response in TList<T'> .
How Can I do?

[2013-03-05 02:59] #5 closed, assigned to nobody

[2013-03-26 19:32] evandroamparo opened #6 "Communication through Windows HTTP Services"
It would be great if the communication was based on Windows HTTP Services (WinHTTP) instead of Indy. It is included in the operating system and is designed to provide a high-level interface to the HTTP protocol.

[2013-03-27 16:31] #6 closed, assigned to nobody

[2013-03-28 21:42] wqmeng opened #7 "Hello, I have try to test you REST api, but have a error when complile it."
class function TJsonUtilGenerics.Marshal(entity: TObject): string;
begin
  Result := entity.ToJson().AsJSon();
end;

[DCC Error] RestJsonGenerics.pas(26): E2003 Undeclared identifier: 'ToJson'

Is the function ToJson still not implement yet?  Or I have miss something?

Thanks

[2013-05-09 01:13] #7 closed, assigned to nobody

[2013-05-09 02:05] fabriciocolombo opened #9 "Support for compression with Indy"
Thanks Roberto Schneiders
https://github.com/RobertoSchneiders

[2013-05-09 02:07] #9 closed, assigned to nobody

[2013-05-14 10:19] thomaserlang opened #10 "No standardized error handling?"
Is there a reason for no standardized error handling or is it just not implemented yet?

With indy it raises an error. WinHTTP does nothing.

Did I overlook something?

[2013-06-10 16:40] #10 closed, assigned to nobody

[2013-07-01 00:56] sandeepc24 opened #12 "Support iOS"
This does not work for iOS as it is pulling in VCL, I am not sure why VCL should be required for this.

[2013-07-17 17:38] marcianobandeira opened #13 "Estouro de Memória"
Antes de mais nada gostaria de parabenizar pelo componente, show de bola, ajudou bastante.

Ao submeter a um teste de stress, fazendo  um loop com muitas requisições.. vi que está estourando a memória... fiz um pequeno ajuste no código e resolveu,

function TRestClient.Resource(URL: String): TResource;
begin
  FResources.Clear; // aqui marciano **********************\* esta linha ************
  Re

[2013-07-23 14:16] #13 closed, assigned to nobody

[2013-08-05 09:39] kemp-john opened #14 "build failed within Delphi7 as of ‘’"

[2013-08-05 09:42] kemp-john opened #15 "build failed within Delphi7 as lack of ‘Generics.Collections’!"
I'm trying to build the project within D7, but it's seems impossible because it dont support 'Generics.Collections' in D7. Any ideas?

Thanks first!

[2013-08-05 09:42] #14 closed, assigned to nobody

[2013-08-06 12:03] #12 closed, assigned to nobody

[2013-08-07 07:23] #15 closed, assigned to nobody

[2013-08-25 14:32] fcmatos opened #16 ".GetAsDataSet() no Delphi XE3"
Olá,

Gostei muito da API. Parabéns.
Gostaria de saber se tem alguma configuração a ser feita para utilizar no GetAsDataSet() no Delphi XE3.

Mensagem de erro:
[DCC Error] Unit1.pas(53): E2003 Undeclared identifier: 'GetAsDataSet'

[2014-01-29 17:51] vegar opened #17 "Compilation error in Delphi XE: Undeclared identifier AsInt64"
When trying to compile the DelphiXE_RestAPI package, I get the following errors:

[code]

The `AsInt64` method is defined in the `TJsonNumberHelper` class in [`DBXJsonHelpers.pas`](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/src/DBXJsonHelpers.pas#L34), but conditionally included just for delphi 2010.

Is this an error, or should the package compile without this helper?

[2014-01-30 17:05] #17 closed, assigned to nobody

[2014-01-31 13:46] vegar opened #19 "SuperObject vs DbxJson as default"
You state that ["SuperObject is the default on supported platforms"](https://github.com/fabriciocolombo/delphi-rest-client-api/wiki/Serialization) but at the same time, `USE_SUPER_OBJECT` is undefined for `DELPHI_XE_UP`:

[DelphiRest.inc](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/src/DelphiRest.inc#L76-L84)

[code]

Who's right: The wiki or the code...?

[2014-03-11 13:09] RobertoSchneiders opened #21 "configure the timeout in TRestClient"
This is a suggestion

It would be interesting if we could configure the timeouts (ResolveTimeout, ConnectTimeout, ConnectTimeout and ReceiveTimeout ) in the TRestClient.

The defaults timeouts are different between Indy and WinHTTP. Sometimes the default values ​​do not meet the needs. Currently it is not possible change them. Or is it?

To change the timeouts via WinHTTP just use this method:
htt

[2014-03-11 13:23] RobertoSchneiders opened #22 "Support for send GZIP data"
I'm using the api to send a large amount of data and need to compress the data with gzip. From what I understand the API supports GZIP in return through EnabledCompression but not in the sending.

Due to problems with XE2 in TIdCompressorZLib I'm using TZCompressionStream (System.ZLib.pas).

It would be great if we could encapsulate this routine in RESTClient.

What do you think?

[2014-06-02 14:59] enver2007 opened #23 "Can we use it for android"

[2014-06-19 14:16] #19 closed, assigned to nobody

[2014-07-30 09:17] gjelenc opened #25 "raised exception class EIdOSSLCouldNotLoadSSLLibrary with message 'Could not load SSL library.'"
When using Win64 as target platform, debugger raises exception:

---
## Debugger Exception Notification
## Project XXXXXX.exe raised exception class EIdOSSLCouldNotLoadSSLLibrary with message 'Could not load SSL library.'.
## Break   Continue   Help

[2014-07-30 12:18] #25 closed, assigned to nobody

[2014-07-31 01:38] #21 closed, assigned to nobody

[2014-09-22 20:25] RobertoSchneiders opened #30 "Support for Proxy"
Not working through proxy (even without authentication).

WinHTTP has a method to [set the proxy](http://msdn.microsoft.com/en-us/library/windows/desktop/aa384059(v=vs.85).aspx) and also has Indy.

The ideal would be to read the information from the operating system and configure it automatically. The information can be read from windows registry or directly by api ([SO](http://stackoverflow.com/q

[2015-03-18 16:23] RobertoSchneiders opened #36 "Are you alive?"
I hope so.

We have some important changes waiting in pull requests. Indeed, are 8 pull requests waiting for a long time. We are making a lot of improvements in this code but we simply can't contribute in this repository because it is abandoned.

That way, we have our fork miles away from the original repo. We don't like it. Fragmenting this piece of code is not the best way of keep it moving, in

[2015-03-18 18:09] esasse commented on #36
:+1:

[2015-03-23 12:16] #36 closed

[2015-04-02 08:06] MARK-FELLNER opened #38 "UTF8/Unicode issue with < Delphi 2009"
Bugreport: Wrong function definition leads to a loss of widestring information.

[code]
UTF8Decode returns a widestring, function returns a string. All non charset-character-information is lost. This error occurs on following functions:

[code]
I've temporarily changed the return type from string to widestring to solve this issue.

[2015-04-02 13:27] RobertoSchneiders commented on #38
Thanks for the report.

String means different things between different versions of Delphi, so, is a mess.

I am not so sure that the widestring is the right type here (for all delphi versions). Maybe is better to use compiler directives in this case.

What do you think?

[2015-04-02 13:56] MARK-FELLNER commented on #38
Yes I think so, too.

I think that type string became a unicode string type by default since Delphi 2009. If you can confirm this I could add compiler directives.

option 1:
[code]
option 2:
[code]

option 3:
[code]

1.) Should I sent you a pull request?
2.) Which option do you prefer?

[2015-04-02 14:06] RobertoSchneiders commented on #38
I'm not sure about that, but I guess that string is a widestring type in some 2009+ versions of delphi, and it is UnicodeString in the latest versions.  But it doesn't matter. Your solution will solve the problem anyway.

1. I prefer the first option, less code duplication. I hope we have more opinions from the other members. :)

2. Absolutely. You can write a test for this problem?

[2015-04-02 14:45] ronaldhoek commented on #38
Why not define the string type using defines and use it the need of defines inside the class. This way you can use it for all other routines to!!!

[code]

[2015-04-02 14:54] RobertoSchneiders commented on #38
much better @ronaldhoek :+1:

[2015-04-02 15:05] MARK-FELLNER commented on #38
@ronaldhoek: very nice solution!

@RobertoSchneiders: I'll do it in the way @ronaldhoek suggested. You'll hearing from me soon.

[2015-04-10 17:07] RobertoSchneiders opened #40 "On which Delphi version are you using rest client?"
The framework documentation don't make clear what versions are supported and maintained. I think we should specify this.

@fabriciocolombo was testing in a lot of versions, but, I don't think it will do it anymore.
[code]

I and the [monde-sistemas team](https://github.com/monde-sistemas/) are maintaining the code for Delphi XE7 (Win32), but, we can't test for all other (unused) versions. So, I ne

[2015-04-10 17:11] vonloxley commented on #40
My company will be using XE5 for another year, so I can run tests against that.

[2015-04-10 17:45] #30 closed

[2015-04-10 17:52] RobertoSchneiders commented on #40
Great @vonloxley  :+1:

[2015-04-10 19:26] RobertoSchneiders commented on #1
I'm using HTTPs with none problem at all.
@fabriciocolombo added support to configurable timeouts (https://github.com/fabriciocolombo/delphi-rest-client-api/commit/0345e23246c9b4f4dc0a4307f9f2f64ba1ce8bf6), so, I'll close this issue.

[2015-04-10 19:26] #1 closed

[2015-04-10 19:29] RobertoSchneiders commented on #4
Someone still need this feature?

[2015-04-10 19:30] #16 closed

[2015-04-10 19:33] RobertoSchneiders commented on #23
I'm not familiar with android development with Delphi and I never tested it, but, it is compatible with iOS, so, I don't see a reason to not be compatible with Android.

You can test it, right? let me know if it works.

[2015-04-10 19:33] #23 closed

[2015-04-10 20:07] thomaserlang commented on #40
XE3

[2015-04-14 13:16] fabioxgn commented on #4
@RobertoSchneiders nope, and if someone needs it, they can always implement

[2015-04-14 13:20] #4 closed

[2015-04-14 15:43] Frees opened #41 "Impliment support attributes for marshal/unmarshal"
Since Delphi 2010 available attributes
http://docwiki.embarcadero.com/RADStudio/2010/en/Declaring_Custom_Attributes

We can use it for improve marshal/unmarshal

For example:

[code]
it'll be marshaled to (or unmarshal from)
[code]

[2015-04-14 16:16] RobertoSchneiders commented on #41
Yeah, that seems great. :+1:

[2015-04-14 16:37] Frees commented on #41
I`ll try implement my idea

[2015-04-14 17:05] fabriciocolombo commented on #41
This is already supported. SuperObject implements the attributes SOName and SODefault. When using DBX there are the attributes JsonName and JsonDefault defined in DbxJsonUtils unit.

See the code inside TypesToTest.TAllTypes and the tests inside TestDbxJsonUnMarshal

    TAllTypes = class
      [SOName('renamed')]
      [JsonName('renamed')]
      fieldNameRenamed: String;

Maybe this could be imp

[2015-04-14 17:25] fabriciocolombo commented on #38
@ronaldhoek  :+1:

SuperObject use the way below, then don't depend of a specific compiler directive or be aware at which delphi version includes unicode support.

    {$if (sizeof(Char) = 1)}
      RestString = WideString;
    {$else}
      RestString = string;
    {$ifend}

[2015-04-15 02:00] fabriciocolombo commented on #40
I am working with XE2, and i have currently installed D7, D2007, D2010, XE, XE3 and XE7.
I would like to support only 2010 or later, because of new features like new RTTI and Attributes.

[2015-04-15 04:52] Frees commented on #41
Thanks Fabricio

[2015-04-15 08:37] ronaldhoek commented on #38
Ah, sorry about that - it was just a copy-paste from some unit I knew it was in...

BTW: starting with the unicode versions of Delphi, the define 'UICODE' was introduces.
So you can also use {$IFDEF UNICODE} instead off {$if (sizeof(Char) = 1)}

[2015-04-15 11:04] fabriciocolombo commented on #38
Looks better use  {$IFDEF UNICODE}

[2015-04-15 16:08] RobertoSchneiders commented on #40
So, let's support only 2010+ versions. Any objections?

[2015-04-15 16:13] thomaserlang commented on #40
None.

[2015-05-11 08:23] czar20 commented on #40
I have been using on XE5 - now I am trying install on XE8 - no good.

unit DbxJsonUtils;

interface

uses SysUtils, DateUtils;

type
{$I DelphiRest.inc}

{$IFDEF USE_GENERICS}
  TJsonAttribute = class(TCustomAttribute)
  private
    FName: string;
  public
    constructor Create(const AName: string);
    property Name: string read FName;
  end;

  JsonName = class(TJsonAttribute);
  JsonDefault =

[2015-05-11 12:46] RobertoSchneiders commented on #40
Probably the `USE_GENERICS` is not defined.

Try to add this to the line 117 of the `DelphiRest.inc` file
[code]
It should work. If it works, send us a pull request, ok?

[2015-05-11 18:25] czar20 commented on #40
Yes that worked. I have never used GIT I am not sure how to do a pull request.

[2015-05-11 18:28] RobertoSchneiders commented on #40
No problem @czar20, we will fix this.

[2015-05-12 12:34] #40 closed

[2015-05-12 12:41] RobertoSchneiders opened #42 "Add support for Delphi XE8"
I don't have the XE8 version yet, but some people are requesting this. Anyone have this version and can do this changes?

Just add this to the line 117 of the DelphiRest.inc file and run the tests.
[code]

Maybe we can find a better way to do this and avoid this changes for every new version.

[2015-05-13 14:36] ronaldhoek commented on #42
I would suggest this approach for 'DelphiRest.inc' - this will notify you when a unknown version is used for compiling the project en requires reviewing this 'code' before making assuptions on why somthing else does not work.

[code]
However I would suggest banning out the use of 'DELPHI_????_UP' directives in the units themselves. These are not informative on why some code is being used or not.
T

[2015-05-13 14:57] RobertoSchneiders commented on #42
I think we can use this `{$IF CompilerVersion >= 22.0}` and completely eliminate all the `{$IFDEF VERXYZ}` code.

[2015-05-14 00:17] fabriciocolombo commented on #42
i agree, compiler version seems a better option and it will also clean up the DelphiRest.inc file.
And also use more meaningful compiler directives.

[2015-05-14 00:33] #42 closed

[2015-05-14 00:36] fabriciocolombo opened #43 "Clean up compiler directives"
Clean up compiler directives using {$IF CompilerVersion >= XX} and more meaningful compiler directives names.
No more {$IFDEF VERXYZ}

[2015-05-14 00:52] #41 closed

[2015-05-14 00:55] fabriciocolombo commented on #2
Nobody interested in that. Closing for now.

[2015-05-14 00:55] #2 closed

[2015-05-18 07:44] ronaldhoek commented on #42
Be sure to check the 'CONDITIONALEXPRESSIONS' define

[code]

[2015-05-18 07:48] ronaldhoek commented on #43
Be sure to check the 'CONDITIONALEXPRESSIONS' define when using ```{$IF CompilerVersion >= XX.X}```

[code]

[2015-05-18 11:06] fabriciocolombo commented on #43
Thanks for the tip

[2015-05-22 18:45] Frees opened #44 "Unmarshal to TDictionary"
I can't unmarshal JSON
{
    "data": {
        "1": "value one",
        "2": "value two"
    }
}

into  class:

TDictionaryDataObject = class
   data: TDictionary<string, string>;
end;

Should it work?

[2015-05-22 19:46] RobertoSchneiders commented on #44
I don't think so.

The parser will find for fields and properties to make the mapping. I guess the TDictionary approach is not supported, but, I am not sure.

[2015-05-22 21:21] thomaserlang commented on #44
It's not supported in SuperObject. Would like to see it supported.
But then again, how often is it that the fields are of the same type?

Had it been:

[code]
The TDictionary would have to be defined with a variant, so i don't know how useful it would be.

I've had this problem one time before. Had no need for changing the data so I used my own JSON parser.

It would be cool if you could specify t

[2015-05-23 14:03] fabriciocolombo commented on #44
@Frees It's currently not supported. But i think it's possible, just using the same approach as for List<T>.

@thomaserlang I believe works using ISuperObject (the interface).It would good write a test for verify this behaviour.
https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/lib/superobject/superobject.pas#L7123-L7125

[2015-05-24 15:15] thomaserlang commented on #44
Ah, cool. That does indeed work.

[2015-06-07 01:37] JasonColeyNZ opened #45 "\ backslash in string property"
I have a string property in an object that has backslashes (\) in the property and this seems to cause problems.

At the server the posted object appears as null.

If the backslashes are removed the posted object is removed.

Is there anything I should be doing to resolve this problem?

I am using Delphi XE6, VS2013 Community

[2015-06-07 03:24] JasonColeyNZ commented on #45
OK, I switched to using SuperObject as it appears there is a long time delphi bug with backslashes not being parsed correctly, so uploading now works fine.

But now I have an issue with the updates coming down, I get a marshalling error and am not sure what to do now to get this working? any ideas?

[2015-06-07 03:25] JasonColeyNZ commented on #45
the server is a WebApi and ASP.NET 5.0 rest site

[2015-06-07 03:29] JasonColeyNZ commented on #45
Here is the json coming down to the delphi client.

'{"Project":null,"ProjectMember":null,"ProjectMemberStatus":null,"ProjectMemberName":null,"ProjectMemberPermissions":null,"ProjectMemberActive":null,"Subproject":null,"ListGroup":null,"List":null,"ThiredPartyLink":null,"Time":null,"TimeBunch":null,"TimeBunchPost":null,"Inbox":null,"Task":null,"TaskSubject":null,"TaskProjectID":null,"TaskSubProjec

[2015-06-07 21:43] fabriciocolombo commented on #45
The backslashes must be escaped.

     c:\\testing\\paths\\with\\backslashes\\and\\more\\"

[2015-06-07 23:11] JasonColeyNZ commented on #45
Yeah I spotted that this morning, this what is being received from the server, so I will troubleshoot this next

[2015-07-06 12:06] PKrause79 opened #46 "No possibility of ignoring invalid SSL certificates"
I cannot access our .NET/C# HTTP(S) RESTful applicationserver, because it seems that it is not to be possible to ignore invalid developer SSL certificates! In C# you can set a property or handle an event “OnValidateCertificate” in order to ignore invalid SSl certificates (to allow them anyway), but in this delphi component I wasn´t able to find a similar property, so I cannot use it with our REST

[2015-07-06 12:17] ronaldhoek commented on #46
As the transport of the data itself is done by ohter components (WinHTTP or Indy). The SSL options need to be set at that level.

For WinHTTP see the option 'WinHttpRequestOption_SslErrorIgnoreFlags'
I'm not sure, but I think Indy ignores them by default, when using SSL.

[2015-07-06 12:46] PKrause79 commented on #46
So, as solution you mean I shall build my own class (similar to WinHTTP), Setting the 'WinHttpRequestOption_SslErrorIgnoreFlags' properties there and use the OnCustomCreateConnection event to create the instance of my own class instead of using the original WinHTTP-class? Or shall we create a new property on TRestClient "IgnoreSSLErrors", and enhance the IHttpConnection Interface by that new prope

[2015-07-06 13:13] ronaldhoek commented on #46
I'd would rather suggest the latter - But it requires the implementation of this flag in each HTTP implementation - can you can create a PULL request for it ;)

But when you need a very quick sollution, you could just extend the current THttpConnectionWinHttp-class and set the options there... Then create that one in the OnCustomCreateConnection event

[2015-07-13 12:50] esasse opened #48 "JSON API support"
I need a client that supports the [JSON API](http://jsonapi.org/) standard.

I was thinking about adding support for this format in this library instead of creating my own.

I believe this could be done just like the abstraction of the HTTP connection. By default it would use the current plain JSON format, but a another "adapter" could be set to change the format.

Do you think it's a good idea?

[2015-07-14 02:52] esasse opened #49 "Credentials not properly encoded in XE2"
The problem is in [this call](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/src/RestClient.pas#L285) to Base64EncodeStr function. In Delphi XE2 the encoded string is wrong so the authentication fails.

To test I replaced this call with `EncdDecd.EncodeString` and the problem was gone. I'm not sure this is the best way to fix the problem because `EncdDecd` unit is not part o

[2015-07-14 07:19] PKrause79 commented on #49
This brings me to an idea:
Maybe this is the reason I cannot connect to my own C#/.NET webservice via SSL/HTTP(S) and HTTP Basic authentication with Delphi XE ! I always got HTTP error “403 / Forbidden”…
I ´ll try your idea…

Regards,
Patrick

Von: Erick Sasse [mailto:notifications@github.com]
Gesendet: Dienstag, 14. Juli 2015 04:53
An: fabriciocolombo/delphi-rest-client-api
Betreff: [delphi-rest-

[2015-07-14 08:01] PKrause79 commented on #49
confirmed: after exclude the Delphi XE "Base64EncodeStr" function and its replacement with the correct hardcoded string (for testing), it works fine - 403 error was gone!

[2015-07-14 12:12] #49 closed

[2015-07-14 12:15] fabriciocolombo commented on #49
Good catch @esasse.
The Base64EncodeStr is overloaded with an ansistring and unicode version, then the unicode version was called and cause the problem.
I replace DCPcrypt in favor to EncdDecd.

[2015-07-14 12:16] esasse commented on #49
@fabriciocolombo was fast, thanks! :smile:

I was writing a comment with a workaround, so I'm going to post anyway, just in case it could be useful to someone.

You can encode the credentials and add it to the header instead of using the SetCredentials:

[code]

[2015-07-14 12:27] fabriciocolombo commented on #49
Yes, the authorization header is included only if not present.
https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/src/RestClient.pas#L283

Please let me know if it's working now @esasse  and @PKrause79

[2015-07-14 15:19] esasse commented on #49
It's working now, thanks @fabriciocolombo!

[2015-07-29 12:03] RobertoSchneiders commented on #48
Yeah, absolutely.

[2015-07-29 13:36] esasse commented on #48
Thanks, I'll send a PR if we follow this idea.

[2015-07-29 13:36] #48 closed

[2015-08-17 11:46] PKrause79 opened #51 "Support for OAuth 1"
Are there any plans for supporting OAuth 1 Authentication instead if using HTTP Basic Authentication? I need that in my current Project...

If not, are there any hints how to implement it with Delphi XE (encryption/decryption classes, ...), maybe it is not needed to build everything new from the beginning / possibility of reusing code to achieve OAuth auth?

Thx

[2015-08-17 11:53] vonloxley commented on #51
Did you have a look at [REST.Authenticator.OAuth.TOAuth1Authenticator](http://docwiki.embarcadero.com/Libraries/XE6/en/REST.Authenticator.OAuth.TOAuth1Authenticator)? It might be a good start.

[2015-09-04 10:07] PKrause79 opened #52 "How to deal with binary data (blob)?"
I have a TClientDataset having a field containing binary data (TBlobField).
I´m using "TResource.GetAsDataSet" and "TResource.GetAsDataSet(ADataSet: TDataSet)", but it seems for me not to be possiblt to marshal binary data from JSON...

Any idea´s how to deal with binary data? Example?

Thx!

[2015-09-04 11:52] RobertoSchneiders commented on #52
Hi @PKrause79

AFAIK, JSON does not support binary.

I don't remember doing anything like this, so, I'm not sure I can help you.

The first thing that comes to my mind was use a BASE64 serialization and then put it on the JSON. I think the SuperObject has some "Stream" methods, which may help you too.

http://stackoverflow.com/questions/1443158/binary-data-in-json-string-something-better-than-base

[2015-09-27 02:37] Timothyoverton opened #53 "Lib Classes"
Hi Guys,
I'm really keen to pull your rest client into our code. We are using the inbuilt Indy/TRestClient with custom API calls and your classes will clean things up immensely.

We are already using an older version of superobject, how do I get your lib to use your version of superobject? I'm just linking your src files in at the moment through tools-options-linking and calling TRestClient direct

[2015-09-28 07:12] ronaldhoek commented on #53
Cant you just upgrade you're version of TSuperObject to the new version? Then you're own code will use the new version as well (is that isn't a problem).

[2015-09-28 12:07] RobertoSchneiders commented on #53
@Timothyoverton We are using it on production for over a year now.

[2015-09-29 08:57] Timothyoverton commented on #53
Hi Guys, thanks for the info, good to know its out in the wild.

I was looking at your version of SuperObject and I saw a reference to (line 83):
{$I DelphiRest.inc}
How much have you guys modified the class? I don't want to affect my current code base.

[2015-09-29 12:06] RobertoSchneiders commented on #53
I haven't changed it myself, but, the majority of [changes](https://github.com/fabriciocolombo/delphi-rest-client-api/blame/master/lib/superobject/superobject.pas) seems to be new functions and some bug fixes.

We have changed our superobject for the restclient version and we didn't have any problem so far.

[2015-10-01 02:38] Timothyoverton commented on #53
Ok thanks Roberto, I'm pulling the pieces together today for a poc.

[2015-10-01 02:38] #53 closed

[2015-10-01 08:34] Timothyoverton opened #54 "Passing Array Type"
Hi Guys,

I have this working with a single object but when I add in array of objects, I get nothing back.

This was working:
type
  TLoginResponse = class
    public
      id: string;
  end;
var
 loginResponse: TLoginResponse;
begin
loginResponse := FabRestClient.Resource('https://blah//ro')
                   .Accept(RestUtils.MediaType_Json)
                   .contentType(RestUtils.MediaType_J

[2015-10-01 08:40] thomaserlang commented on #54
You need to specify what it has to return it as.

Try: Get<TheTYPE>()

Check the examples in the readme file.

[2015-10-02 04:46] Timothyoverton commented on #54
Thanks Thomas,

I was able to get it working with TList<TAccount>. However, TArray<TAccount> would not pass the returned data. Also I ended up using TObjectList<TAccount> however, when this is passed back by the RestClient, OwnsObjects of TObjectList is set to false. I've been able to get around this by creating my own descendant which forces OwnObjects to true, so that you can call Free and the T

[2015-10-09 10:33] mquadrat opened #56 "Support digest authentication"
A lot of services use digest authentication instead of basic. It would be great if this was supported. Currently basic is hardcoded within the sources.

[2015-10-09 14:50] fabriciocolombo commented on #56
I have no free time for the next weeks.
It would be great if you can send a pull request.

[2015-10-18 09:57] mquadrat commented on #56
I implemented it for the Indy connection. Not sure how to deal with the other connections. I'll have a look into it.

[2015-10-26 11:00] rafakwolf opened #57 "ContentTypes"
How can i set ContentType = 'application/x-www-form-urlencoded' ?

Thanks

[2015-10-26 11:05] RobertoSchneiders commented on #57
This should work (from Post example):
[code]

[2015-10-26 11:58] rafakwolf commented on #57
Thanks!

[2015-11-05 01:06] Timothyoverton opened #59 "WinHTTP and TIdMultipartFormDataStream uploads"
Hi Guys,

I'm still trying to integrate your rest client. I have 1 last hurdle.

We are uploading a file in chunks using TIdMultipartFormDataStream and TIdHttp from Indy, we are making a post for each chunk that is uploaded. Is this possible to do this with WinHTTP and your wrapper?

Thanks,
Tim

[2015-11-05 01:07] Timothyoverton commented on #54
I will use TList or my own TObjectList - thanks.

[2015-11-05 01:07] #54 closed

[2015-11-05 08:14] thomaserlang commented on #59
Try to copy the TIdMultiPartFormDataStream to a TMemoryStream and remember to set the correct `Content-Type` header. Then post it. The result will be a string.

Something like this:

[code]

[2015-11-05 22:47] Timothyoverton commented on #59
Right! That looks promising I'll give it a try - thanks!

[2015-11-16 21:11] #45 closed

[2015-11-23 06:43] Timothyoverton opened #60 "Large upload/download progress"
Hi Guys,

1 of the nice features of the Indy components is their ability through events to let us know of the progress of a large post/get, upload/download.

Do you have compatible WorkBegin/Work/WorkEnd events in which we can monitor the progress of a rest call? Or an example of a rest call with callback/synchronize events?

Thanks Tim

[2015-11-25 11:38] thomaserlang commented on #46
Check the new `VerifyCert` option.

[code]

[2015-11-30 10:57] Timothyoverton commented on #60
I'm guessing that's a no?

[2015-11-30 11:49] RobertoSchneiders commented on #60
Yeah, probably. I haven't done anything like that yet, sorry.

[2015-11-30 21:25] clederambrosini commented on #16
Ola. Estou começando com rest no delphi e estudando essa api, porem estou com esse problema [DCC Error] uFrm_PersonList.pas(61): E2003 Undeclared identifier: 'GetAsDataSet' o que posso fazer para resolver?

[2016-01-11 04:05] darianmiller opened #62 "DbxJsonUtils.pas fails to build in pre-Generic Delphi versions"
'Type' is outside the {$IFDEF USE_GENERICS} block, so if generics aren't available, compiler error in Delphi 2007:  "Identifier expected but 'IMPLEMENTATION' found"

[2016-01-11 11:40] RobertoSchneiders commented on #62
@darianmiller thanks for report that, can you send us a pull request?

[2016-01-11 15:39] darianmiller commented on #62
Ok, pull request created...failed to include issue number in comment.

[2016-01-11 16:10] RobertoSchneiders commented on #62
No problem, thanks for contributing.

[2016-01-11 16:10] #62 closed

[2016-01-11 16:54] fabriciocolombo opened #64 "Delphi 7, 2007, 2010 and XE compatibility is broken"
Usage of anonymous methods is not inside a conditional block. https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/src/HttpConnection.pas#L29

[2016-01-11 19:58] #64 closed

[2016-01-13 03:04] #46 closed

[2016-01-13 03:07] fabriciocolombo commented on #60
I also haven't done anything like that yet.
Can you send a PR @Timothyoverton?

[2016-01-13 03:10] #59 closed

[2016-01-13 03:14] fabriciocolombo commented on #56
Partial support is ok. Send a PR with your implementation for Indy.

[2016-01-13 03:15] #52 closed

[2016-01-15 15:52] #43 closed

[2016-01-17 08:42] Timothyoverton commented on #60
Yes I will - as soon as I have a moment. Someone else did something very similar in the last 2 months...can't find the PR right now. I'll close this for now.

[2016-01-17 08:42] #60 closed

[2016-02-17 20:54] mapeware opened #68 "Windows xp"
Your delphi-rest-client-api compiles and run like a sharm on windows 7-8-10, but, when i run compiled executable on windows xp, it gives me the message "A certificate is required to complete client authentication".
I used VerifyCert=False, in fact on non xp systems it works perfectly.
Do you have any suggestion ?
Thank you in advance,
Max

[2016-02-18 07:52] ronaldhoek commented on #68
Might this issue be a result of the new SSL encryption policy of MS. This requires SHA 256, which is not supported in XP.

[2016-03-04 19:02] jhonatasobrinho commented on #19
How did you solve that? Can you explain with samples, please? Thanks!

[2016-03-04 19:09] RobertoSchneiders commented on #19
@jhonatasobrinho If you are experiencing any problem, feel free to open a new issue and detail it

[2016-03-05 03:11] jhonatasobrinho opened #69 "Problem with GetAsDataSet function of TResource on DelphiXE2"
I had a problem trying to use that function on Delphi XE2. I think, someway the compile directive USE_SUPER_OBJECT was defined, but I can't specify where. So, the GetAsDataSet function wasn't avaiable for use.

I solved this problem taking off the {$UNDEF USE_SUPER_OBJECT} directive from {$IFDEF MACOS}, compiling the component again and compiling my project. So it worked. That is a bug or just my

[2016-03-07 12:32] RobertoSchneiders commented on #69
It's not a bug, the GetAsDataset is only available if you are using SuperObject.

Apparently, `USE_SUPER_OBECT` is defined by default ([DelphiRest.inc#L6](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/46c08e2cd5ef831dbb6d6868f68fc65b622d8f2d/src/DelphiRest.inc#L6)), but not for MacOS ([DelphiRest.inc#L203](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/46c08e2cd5ef

[2016-03-07 12:56] jhonatasobrinho commented on #69
Yes. Apparently it's not a bug, but I couldn't access this function. I had to take off the UNDEF USE_SUPER_OBJECT declaration and so, started to work properly.

I don't know why the UNDEF was hit since it was declared on {$IFDEF MACOS} and I'm not in a MacOS by the way. Please @fabriciocolombo, help us! :)

[2016-03-07 13:00] RobertoSchneiders commented on #69
so, you don't have the `MACOS` directive defined on your project settings? for sure?

[2016-03-07 13:01] jhonatasobrinho commented on #69
Yes, I'm sure!

[2016-03-07 13:17] RobertoSchneiders commented on #69
Weird. That seems to be a problem with your environment.

[2016-03-08 12:03] fabriciocolombo commented on #69
Are you using the latest version? Before #43, SuperObject was not enabled by default for all environments.

[2016-03-08 13:32] jhonatasobrinho commented on #69
I think so. But I'll download it again and try to reach the problem again.

[2016-03-30 12:43] googlebot-xx opened #72 "missing RTTI DBXJson in delphi 2009"
in DBXJsonUnMarshal,  missing RTTI and DBXJson in delphi2009

[2016-04-13 14:58] RobertoSchneiders commented on #72
Thank you for reporting. Can you send us a pull request @googlebot-xx?

[2016-06-21 17:57] stephanewierzbicki opened #73 "TRestClient is a component alldeclared"

[2016-06-21 18:00] stephanewierzbicki opened #74 "TRestClient is a component already registered starting Delphi Seattle"
Hello,

TRestClient is now registered on all Delphi version starting from Seattle.

Do you plan to rename your component ?

[2016-06-21 18:05] RobertoSchneiders commented on #74
Thank you for the report @stephanewierzbicki

I don't think we have any other options, we'll have to rename the component.

Do you know what is the unit name where Delphi TRestClient is declared on Seatlle? it has some namespace?

[2016-06-21 18:06] RobertoSchneiders commented on #73
What did you mean @stephanewierzbicki?

[2016-06-21 19:14] stephanewierzbicki commented on #73
Please delete, was a typo on my android phone 😀

[2016-06-21 19:28] #73 closed

[2016-06-22 00:42] LoganTennis opened #75 "Demo project does not compile in Delphi 7"
Here are the errors below:

Aloso project would not even open till I removed the DSK file

Build
  [Error] uFrm_PersonList.pas(54): There is no overloaded version of 'Post' that can be called with these arguments
  [Error] uFrm_PersonList.pas(105): There is no overloaded version of 'Put' that can be called with these arguments
  [Error] uFrm_PersonList.pas(143): ';' expected but '<' found
  [Error

[2016-06-22 06:26] ronaldhoek commented on #75
This DEMO uses 'generics' so it will only compile with XE(2) and up!

PS: to make things working for XE(2) the reference to the datamodule is nog correct.

[2016-06-22 08:17] LoganTennis commented on #75
Gave up on using this, because the demo did not work.
The demo really should be tested under delphi 7 environments,

[2016-06-22 08:19] ronaldhoek commented on #75
I think it would be best to create a second DEMO which does NOT use generics as this demo is valid when generics are available!

[2016-06-22 12:45] RobertoSchneiders commented on #75
@LoganTennis sorry about that.

Probably no one is using this library on Delphi 7. That's why it isen't well tested.

We'll be grateful if you could help us with that.

[2016-06-22 13:16] ronaldhoek commented on #75
We don;t work with older Delphi versions anymore - maybe @LoganTennis can try to make one based on the current code?

[2016-06-22 16:20] rafakwolf commented on #57
@RobertoSchneiders

Did not work :(

[2016-06-22 16:46] RobertoSchneiders commented on #57
What exactly is happening @rafakwolf?

[2016-06-22 17:01] rafakwolf commented on #57
The APIs with Bearer Token authentication, needs the **application/x-www-form-urlencoded** to request for tokens... so, the receiving response is ( _unsupported grant_type_ ) with status code 400.

[2016-06-22 17:20] RobertoSchneiders commented on #57
@rafakwolf I don't think this is a problem related to this library.

The error `unsupported grant_type` suggest that you are not passing the correct `grant_type` parameter to the request or you are not informing this parameter at all.

It should  look like this:
[code]
http://stackoverflow.com/a/29261024

If this doesn't help, can you share your code with us? What API you are trying to consume?

[2016-06-22 23:10] LoganTennis commented on #75
I would love to update the demo project to be Delphi 7 compatible, unfortunately, I could not get it working. So I ditched the use of this component. In favour of "SimpleRestClient" by Jamie Ingilby.

[2016-08-09 13:37] Tuldi opened #78 "is it possible to send an binary?"
Hello!
As the header says I'd like to send a binary (a picture from the HDD) with this library!

The Server wants the binary to be of content_type "multipart/form-data"...

I tried to send the binary as Stream:

  FS := TMemoryStream.Create;
  FS.LoadFromFile('C:\Users\Tuldi\Pictures\15.jpg');

  DM.RestClient.Resource('http://172.19.31.138:5540/webcrawler/v1/api/upload')
                   .Accep

[2016-08-09 14:40] RobertoSchneiders commented on #78
@Tuldi I don't have a direct answer, but I will try to help.

The 500 error indicates that it is an error in the server side, you should verify what is the server doing, maybe some problem on the binary parser? If it was a problem with the data you are sending, the server should return a HTTP 422. But we do not always have the luck to consume an api that follows the conventions.

This is your serv

[2016-09-29 11:44] afernandezcontreras opened #79 "Does it work on IOS and Android ?"
If not, do you know a client library to work with a Rest Api, Post, Put, Get, etc.

[2016-09-29 11:46] afernandezcontreras commented on #79
I am using Delphi Berlin ...

[2016-09-29 13:07] RobertoSchneiders commented on #79
@afernandezcontreras unfortunately, I don't know, but it certainly should work. If you can test it and give us some feedback, we appreciate it.

[2016-09-29 18:08] afernandezcontreras commented on #79
I have tested it (delphi-rest-client-api) on IOS and Android and it does not work. It gives a compilation error ...

[2016-09-29 18:11] RobertoSchneiders commented on #79
What error exactly @afernandezcontreras?

[2016-09-29 18:22] afernandezcontreras commented on #79
On Ios Simulator: [DCC Error] RestJsonUtils.pas(367): E2003 Undeclared identifier: 'AnsiChar'
On Android: [DCC Fatal Error] RestJsonGenerics.pas(9): F2613 Unit 'SuperObject' not found.

Thanks in advanced.

[2016-09-29 18:24] afernandezcontreras commented on #79
Sure I'm doing something wrong. On win32 everything is perfect.

[2016-09-29 18:25] afernandezcontreras commented on #79
I have had to rename the TRestClient class to TRestClientApi.

[2016-09-29 18:47] RobertoSchneiders commented on #79
The first error is probably a problem with the compiler directives. About the second, I don't know if SuperObject work in mobile, maybe you have to use the default json libraries (try  `{$UNDEF USE_SUPER_OBJECT}`).

It would be great if you can fix this compilation problems and send us a pull request :). Good place to start should be `src/DelphiRest.inc`. Otherwise we have to hope that some of our

[2016-10-10 11:02] Tuldi commented on #78
Hello Roberto!
I am still (or again) trying to send a binary (a picture) to a service!
As suggested I tried to send requests with the postmaster....  ordinary get post put request i got to work with your library and also with the postmaster!

But the upload i could not get to work!

But with the fiddler Client i could upload a picture... so the service should not be the problem.

The Request when

[2016-10-10 12:41] RobertoSchneiders commented on #78
Hello,

I guess the problem is the format of you data. It should by base64 encoded. Maybe the Fiddler is transforming the binary on base64 for you. I have a production code that sends an object that contains an image with this library, so, it works. My code looks like this:

[code]
In my case the APU supports gzip, so, I'm compacting the json before send, but this is not mandatory.

Could you try

[2016-10-10 13:45] Tuldi commented on #78
Hello Roberto!

Thank you very much for your help!

But unfortunately i still got the 'HTTP Error: 415'

Unsupported Media Type!
my Code looks like this:

`
  try
    FS := TMemoryStream.Create;
    FS.LoadFromFile('C:\Users\vanpatri\Pictures\15.jpg');

    ImageStream := TStringStream.Create(TJsonUtil.Marshal(FS));
    DM.RestClient.Resource('http://172.19.31.138:5540/webcrawler/v1/api/upload')

[2016-10-10 14:54] RobertoSchneiders commented on #78
The `Unsupported Media Type` error makes clear that the only problem that you have is that you are sending the data in a format that the server does not understand.

This will depends on the server implementation. As far as I can see (in the fiddler request) the server is specting a `form-data` with a `file`. This is very strange, shouldn't use `form-data` for that. The API should receive a `image

[2016-10-18 08:50] Tuldi opened #80 "Arrays in Class"
Hello!

I think I got an easy question:

I am using the get-Method right now.. i call the function two times...
at first i got a jsonString which looks like this:

{
  "ImmobilieId":1234,
  "Titel":"Garconniere Nähe Veterinäruni sucht neuen Mieter",
  "Bilder":[{  "BildId":12874,"Url":"http://***/100249020160317.jpg"},
                {  "BildId":12875,"Url":"http://***/97688920160111.jpg"},

[2016-10-18 08:54] Tuldi commented on #78
you were right ;-)

thank you very much!!

[2016-10-18 08:54] #78 closed

[2016-10-18 10:08] Tuldi commented on #80
got it... TList<> is better than array ;-)

[2016-10-18 10:08] #80 closed

[2016-12-06 16:03] ghost opened #82 "Would support swagger ?"
I was try to find Pascal Swagger support.
But I found nothing.
Then I try to do something for it, but has not progressed.

Would you support swagger?
This framework also try to support it,
https://github.com/danieleteti/delphimvcframework
but they have no help.

Thanks.

[2016-12-06 17:22] RobertoSchneiders commented on #82
Can you provide more information about Pascal Swagger? project link? It is a api doc generator?

[2016-12-07 10:20] 674395896 commented on #82
Yes, it is an api doc generator.
Please look in this site:
http://swagger.io/open-source-integrations/

Can you support that generate client classes by the api doc like generate datasnap client classes?
It is very useful.
Thanks.

[2016-12-07 11:28] RobertoSchneiders commented on #82
Makes sense, we could support it.

Do you plan to implement this?

[2016-12-07 14:36] 674395896 commented on #82
I want to do it , but I have no clue even I have read some info.

[2016-12-07 15:31] RobertoSchneiders commented on #82
Ok, let's wait and see if any of the commiters want to work on this. We will need someone with some experience with Swagger.

[2016-12-13 13:33] renannobile opened #83 "POST return"
Hello, how do I get the return from the Post method?
I have an action that returns whether the file was uploaded or not and I would like to display the result in Delphi.

EDIT: My api method returns an HttpResponseMessage.

[2017-03-30 13:29] vtgustavo opened #91 "Delphi XE2 installation error"
compiling packages Delphi xe2 error

function:
procedure TMultiPartFormData.AddFieldContent(Field: TRttiField; var Content: TStringList);
const
  FmtTextContent = 'Content-Disposition: form-data; name="%s"'+ sLineBreak+sLineBreak +'%s';
  FmtFileContent = 'Content-Disposition: form-data; name="%s"; filename="%s"'+ sLineBreak +'Content-Type: %s'+ sLineBreak+sLineBreak+ '%s';
var
  Attachment: TMult

[2017-03-30 14:41] RobertoSchneiders commented on #91
@vtgustavo thanks for reporting. Can you send a pull request to fix this?

[2017-05-09 12:26] fabiolindemberg opened #93 "Method TOldRttiMarshal.ToClass do not populates object's properties, just public fields."
Hi Fabrício, I downloaded the last version and installed it in Delphi 2010. I notice that properties of my objects weren't populated, so I had to changed some piece of code to it works. You can see changes below.
In my undertanding about object oriented programming, classes didn't should expose fields directly. So, If you agree with if you can incorporate my code in your component.

[code]

[2017-06-17 04:22] fabriciocolombo commented on #93
Hi @fabiolindemberg

I got your point, but this is by design.
The first marshaller was [SuperObject](https://github.com/fabriciocolombo/delphi-rest-client-api/blob/master/lib/superobject/superobject.pas#L7007), who uses fields for serialization. Thats why TOldRttiMarshal also use it. Besides that, Delphi TJSONMarshal are also based on object fields.

We can't just change this to use properties ins

[2017-06-17 04:22] #93 closed

[2017-06-17 04:51] fabriciocolombo commented on #82
I think this is outside the scope of this project.
Swagger is focused on the API itself and your development cycle. It generate documentation and have a UI where you can interact with your API to evaluate.

This library is just for consume the API (This library is just to consume the API (that could be backed by Swagger).

It make sense add support for Swagger in https://github.com/danieleteti/del

[2017-06-17 04:51] #82 closed

[2017-06-17 04:56] fabriciocolombo commented on #83
Are you still in trouble @renannobile ?

[2017-06-17 05:03] fabriciocolombo commented on #57
Closed by inactivity.

[2017-06-17 05:03] #57 closed

[2017-06-19 11:38] renannobile commented on #83
No, thank you.
It has been solved.

[2017-06-19 12:48] #83 closed

[2017-07-10 14:39] ricardobortoti opened #94 "Not Working on Delphi 2010"
The Project is not working on Delphi 2010, dunno exactly what is wrong but it seems to me that it haves invalid syntax for D2010 like "Equals" After string.

[2017-07-10 14:57] RobertoSchneiders commented on #94
@ricardobortoti thanks for the report. This is probably because no one is using the project in Delphi 2010. We would appreciate if you could send a PR with a fix for that :)

[2017-07-20 21:09] #75 closed

[2017-07-28 19:27] rsjmeijer opened #98 "XE2 installation Error"
I get an DCC fatal error:

[DCC Fatal Error] DelphiXE2_RestApi.dpk(35): E2202 Required package 'IndySystem' not found

But Indy is installed (version 10.5.8), how to resolve this error?

Kind regards

Robert Meijer

[2017-08-24 18:31] leandroasilva commented on #74
Hello, my friend, follows a version I made to use with delphi 10.2, I just changed the TRestClient to TRestClientt, and I also changed some parameters, but if you want you can use 100% functional I'm using in projects in production.

[delphi_rest_client_api.zip](https://github.com/fabriciocolombo/delphi-rest-client-api/files/1249882/delphi_rest_client_api.zip)

[2017-09-12 16:24] mgalletti opened #100 "Proxy Issue with Indy connection"
Connection attempt through a proxy ends with timout error. I'm using Indy connection type. [Issue #30](https://github.com/fabriciocolombo/delphi-rest-client-api/issues/30) states the WinHTTP case has already been handled.
Are there any chances to make it work with Indy too?

I've managed the case using TIdHTTP simply by assigning the ProxyParams property.

code example:
[code]

Is it possible to h

[2017-09-13 09:23] Nashev commented on #21
For people like me, current proper link to TIdIOHandler.ReadTimeout property documentation online:

http://ww2.indyproject.org/docsite/html/frames.html?frmname=topic&frmfile=TIdTCPClientCustom_ReadTimeout.html

[2017-09-24 20:15] mad85 opened #101 "Delphi 2010 Package Installation Problem"
![image](https://user-images.githubusercontent.com/24700247/30786441-292ec39a-a17e-11e7-8761-ef2678dbd20e.png)

[2017-11-06 16:32] leacarbonera commented on #7
Olá, Fabricio tudo bem. Estou tentando instalar a biblioteca RestClient no meu Delphi XE2, mas ao compilar me apresenta o seguinte erro no arquivo Restclient.pas, na função :

function TResource.Post(Entity: TObject): TObject;
begin
  Result := Post(Entity, Entity.ClassType);
end;

"[DCC Error] RestClient.pas(1001): E2250 There is no overloaded version of 'Post' that can be called with these argum

[2018-01-08 03:54] Eden5Wu opened #103 "Append TJsonAncestor.ToJSON in XE fix."
interface
  {$IF defined(DELPHI_2010) or defined(DELPHI_XE)}
  TJsonAncestorHelper = class helper for TJsonAncestor
  public
    function ToJson(): string;
  end;
  {$IFEND}
implementation
{ TJsonAncestorHelper }
{$IF defined(DELPHI_2010) or defined(DELPHI_XE)}
function TJsonAncestorHelper.ToJson: string;
var
  bytes: TBytes;
  len: Integer;
begin
  SetLength(bytes, Self.EstimatedByteSize);
  len

[2018-01-24 17:53] xyberxdarkside opened #104 "Preciso muito falar com vc, mandei um email como nao respondeu"
Boa noite amigão, vi seus projetos de REST e gostaria muito de você no nosso projeto, sou o criador do REST Dataware, uma suite que sem sido bem aceita e utilizada e todos os caminhos que tenho seguido de alguma forma vc trilhou, minha compatibilidade eh de d6 ao tokyo e lazarus, servidor mega parrudo indy ou cgi e com componentes REST Dbware.
 Sua ajuda será muito importante, pq hoje remo muito s

[2018-01-31 13:27] zedalaye opened #105 "CompTimeZoneID is broken"
You might be interrested in this applying this commit to your codebase too :)

https://github.com/zedalaye/superobject/commit/e1842d73a8ed7cd3abd5a73e946c7f71dc7fb755

[2018-02-04 09:04] Andsup opened #106 "Download a file with this REST API: help needed"
Hi,

I need some guidance or example to implement with this API a binary file download.

I'm using Delphi 2007 for the client and the server is a PHP script.

Thanks.

[2018-02-04 14:36] rpottsoh commented on #106
This isn't exactly what you are looking for but perhaps it can be of some help anyway.  Please check out [exercism/windows-installer](https://github.com/exercism/windows-installer).  The Windows Installer was originally written in C#, last year I rewrote it in Delphi.  However, I didn't use the delphi-rest-client-api (I didn't know about it then) and used Delphi Tokyo.  This APP determines if the

[2018-02-05 12:27] fernand-o commented on #106
You will need to declare a function to handle the GET response as an stream, ex:

[code]
[code]

[2018-02-05 15:17] george-kar opened #107 "Does it really work?"
I have tried with the example with any of the public REST API I found on the internet for example
http://uinames.com/api/?amount=25

And it doesnt work, it always return error 403.

Does it really work?

[2018-02-05 16:31] Andsup commented on #106
HI,

Work perfectly !

Thanks a lot.

André.

De : Fernando Almeida
Date : lundi 5 février 2018 13:27
À : fabriciocolombo/delphi-rest-client-api
Cc : Andsup ; Author
Objet : Re: [fabriciocolombo/delphi-rest-client-api] Download a file with this REST API: help needed (#106)

You will need to declare a function to handle the GET response as an stream, ex:

TMyClass = class
  private
    FDestination

[2018-02-05 17:26] #106 closed

[2018-02-06 13:54] Dzenik commented on #101
[patch.zip](https://github.com/fabriciocolombo/delphi-rest-client-api/files/1699281/patch.zip)
This can help you.

[2018-02-13 16:12] berniQ23 commented on #7
I can confirm the comment from Abraco from November 2017.
A fresh checkout from today gives on compiling DelphiXE4_RestApi.bpl:

[dcc32 Fehler] RestClient.pas(1001): E2250 Es gibt keine überladene Version von 'Post', die man mit diesen Argumenten aufrufen kann
=>
function TResource.Post(Entity: TObject): TObject;
begin
  Result := Post(Entity, Entity.ClassType);
end;

[dcc32 Fehler] RestClient.pas

[2018-02-13 16:14] berniQ23 opened #108 "XE4 compiling problem"
A fresh checkout from today gives on compiling DelphiXE4_RestApi.bpl:

[dcc32 Fehler] RestClient.pas(1001): E2250 Es gibt keine überladene Version von 'Post', die man mit diesen Argumenten aufrufen kann
=>
function TResource.Post(Entity: TObject): TObject;
begin
Result := Post(Entity, Entity.ClassType);
end;

[dcc32 Fehler] RestClient.pas(1028): E2250 Es gibt keine überladene Version von 'Put', di

[2018-02-22 20:25] danilobicas opened #109 "Entity nested with other entity collection"
Hi.
follow the entities
class moviment
            mov_codigo:int;
            collection<itens> itens;
class itens
    ite_codigo: int;
   produto: produtcs;

class products
pro_codigo:int;
pro_value:decimal;

When I receive my json from webapi Delphi show me a message: Class T not found. when I click OK it show next message(more specific): UnMarshalling error for field "moviment.itens" : class T

[2018-02-22 22:37] thomaserlang commented on #109
Your code is rather hard to read.
Try something like this:

[code]
You need to tell delphi what type of object the list will contain.

[2018-02-23 19:06] danilobicas commented on #109
Yes but my delphi is 2007 and don't accept TObjectList<Itens>....
Unfortunately

Tks

Danilo

2018-02-22 19:37 GMT-03:00 Thomas Erlang <notifications@github.com>:

[2018-02-23 19:43] danilobicas commented on #109
follow below my delphi code
`MovimentoProdutoViewModel = class
 private
    Fmov_codigo: integer;
    Fmop_quantidade: currency;
    Fpro_codigo: integer;
    Flab_produtos: TObject;
 protected
 public
    constructor Create;
    destructor Destroy;
 published
    property pro_codigo:integer read Fpro_codigo write Fpro_codigo;
    property mov_codigo:integer read Fmov_codigo write Fmov_codigo;

[2018-02-28 22:42] mentadev opened #110 "compiled version of the bpl: Delphi 7"
Does anyone has the compiled version of the bpl for Delphi 7? I can't make it work, trying to compile it in Delphi 7 but has several Indy errors.

[2018-03-02 02:37] marqueshj opened #111 "Delphi 2006 Package Instalation"
Hi, is there a Delphi 2006 Package Instalation ?
I tryed install delphi 7 package but it doesn't work.

Best regards

[2018-03-14 12:00] fernando-garoso opened #112 "Delete Method Return Timeout with Delphi 2007 + Indy10"
unit RestClient;

...

function Delete(Content: TStream): String; overload;

...

function TResource.Delete(Content: TStream): String;
begin
  Result := ContentRequest(Content, METHOD_DELETE);
end;

[2018-03-15 21:02] danilobicas opened #113 "Authorization"
Hi.
And about Authorization with token (bearer token)?
How I implement this to send to the server?

tk's

Danilo

[2018-03-16 07:10] ronaldhoek commented on #113
You should set the correct HTTP-header before sending the reqeust...

Ex. based on 'DelphiRestDemo' (uFrm_PersonList.TFrm_PersonList.RefreshList)

without header:

[code]

with header:

[code]

[2018-03-16 17:24] danilobicas opened #114 "Getting http error"
Hi.
How I get the http error, for example:

Result:= TObjectList(meuRest.Resource(UrlApi + '/api/TipoMovimento')
                              .Accept(RestUtils.MediaType_Json)
                              .Authorization('Bearer '+MDToken['access_token'])
                              .Get(TObjectList, TipoMovimentoViewModel));
If I get error of 401... how I know the error in code... in debugmode

[2018-03-16 20:23] thomaserlang commented on #114
You catch it as an exception.
[code]

[2018-03-21 03:25] beryindo opened #115 "rest client delphi gmail"
how to use rest client delphi gmail, read inbox folder ?

[2018-03-27 09:28] jzapater commented on #101
I applied this patch and received this error on line 1141:
[DCC Error] RestClient.pas(1141): E2018 Record, object or class type required
[DCC Fatal Error] D2010_RestApi.dpk(46): F2063 Could not compile used unit '..\..\src\RestClient.pas'

[2018-04-03 11:59] Timothyoverton commented on #44
Hi @thomaserlang can you give me an example of it working?

[2018-04-03 12:15] thomaserlang commented on #44
What are you referring to @Timothyoverton? SuperObject?
Just use `ISuperObject` instead of `TSuperObject` in the class definition.

[code]

[2018-05-02 12:35] jfgreco opened #119 "Error connecting with SSL. EOF was observed that violates the protocol"
raised exception class EIdOSSLConnectError with message 'Error connecting with SSL. EOF was observed that violates the protocol'.

My application is raising the above error. I can't seem to find what exactly is causing it.

[2018-05-02 13:06] rpottsoh commented on #119
Are you using Windows 7?  I have come across similar symptoms when dealing with REST and GitHub.  Please review this [comment](https://github.com/exercism/windows-installer/issues/33#issuecomment-375742812) that I posted in exercism/windows-installer#33.  For me, the upshot was that Windows is trying to use an older version of TLS (likely 1.0) and the REST server doesn't support that version.  My

[2018-05-27 23:16] mbirabhadra commented on #108
Getting same error with XE5

[2018-08-29 19:17] ghost opened #121 "Compatibilidade Delphi Seattle/Tokyo"
Há compatibilidade com o Seattle/Tokyo ?

[2018-08-30 13:27] fabioxgn commented on #121
@cgarrotti sim. Funciona normalmente. Se não me engano não dá para instalar os componentes pois agora o Delphi tem um componente com o mesmo nome. Mas se usar via código funciona tranquilo.

[2018-08-30 16:59] ghost commented on #121
Eu fui tentar instalar, mas deu erro no DbxJsonUtils. Vou tentar usar via
codigo igual vc disse ai .
Valeu Fabio

Em 30 de agosto de 2018 10:27, Fábio Gomes <notifications@github.com>
escreveu:

[2018-09-13 00:35] devzonetrack opened #122 "Android Support and Unit 'AxCtrls' not found."
Is this Support android platform?

[dcc32 Fatal Error] HttpConnectionWinHttp.pas(5): F2613 Unit 'AxCtrls' not found. how to solve this error?

[2018-09-13 10:36] devzonetrack opened #123 "Post Single object and get array object"
Howto post single object as parameter and get array object as result?

[2018-09-13 13:54] fernand-o commented on #123
something like this should work:
[code]
[code]

[2018-09-14 00:46] devzonetrack commented on #123
Helo fernand-o
Thank very much this working fine.

[2018-09-14 03:04] devzonetrack opened #124 "Compile for android error"
[DCC Error] superobject.pas(642): E2154 Type 'TSuperTableString' needs finalization - not allowed in variant record
[DCC Error] superobject.pas(643): E2154 Type 'TSuperArray' needs finalization - not allowed in variant record

[2018-09-14 10:46] fabioxgn commented on #124
@devzonetrack I guess this library is not compatible with Android, as it uses windows specific libraries as winhttp and wininet for connectivity. Even if you are able to compile it will most certainly not work.

You might want to use Delphi's REST Client as it is compatible with Android: http://docwiki.embarcadero.com/RADStudio/Tokyo/en/Tutorial:_Using_the_REST_Client_Library_to_Access_REST-based_

[2018-09-15 12:02] devzonetrack commented on #124
@fabioxgn, Thank for advice...

[2018-10-10 20:51] chrisaige opened #126 "Response Context"
I think it would be a nice feature tobe able to read the response context.
Currently the libary only parses the response body as far as im aware and there is no way to obtain information from the Response Headers and Cookies and so on.

Im imagining something like this (I am not a delphi developer):
[code]

[2019-01-04 14:56] kattes commented on #108
Use instead of the faulty method calls:

function TResource.Post(Entity: TObject): TObject;
begin
  Result := EntityRequest(Entity, Entity.ClassType, METHOD_POST);
//  Result := Post(Entity, Entity.ClassType);
end;

function TResource.Put(Entity: TObject): TObject;
begin
  Result := EntityRequest(Entity, Entity.ClassType, METHOD_PUT);
//  Result := Put(Entity, Entity.ClassType);
end;

function TRe

[2019-01-16 13:58] soareseneves opened #127 "Async response"
Using the Async request example there is no way to get the actual result from the request, how can I get it? Shouldn't the Response Content be added as a parameter of OnAsyncRequestProcess procedure?

[2019-01-22 19:33] fabioxgn commented on #127
@soareseneves I think you've confused the behavior of the Async method. Only the request is made async, your code will block and wait for the request to finish, example:

[code]

The advantage is that you can cancel the request at any time if it takes too much time to finish.

[2019-07-20 16:44] ewertonrfd opened #128 "Compatível com Delphi 2006?"
Boa tarde,
Pergunto porque apesar de ter na descrição, não tem o package
Mas só confirmando que funciona já ajuda.

Obrigado desde já.

[2019-08-21 01:55] julioffigueiredo opened #129 "Request com access token"
Não encontrei algum lugar como um fórum. Então vai a minha duvida aqui.
Preciso fazer um request de access token e depois passar nas requisições.
Como fazer o uso no seu componente? Hj faço tudo via componentes nativos na mão.

Nessa parte o pedido
[code]
Aqui passar o token nas seguintes requisições:
[code]

[2019-09-11 06:38] Andsup opened #130 "Compile with Delphi 10.3"
I'm moving a project from delphi 2007 to delphi 10.3.

I had to rename the TRestClient class to TfcRestClient.
Not a big deal.

Still some error during the compilation:
Incompatibility between Tdataset and TclientDataSet in datasetconverter by example

How to deal with those errors ? Is using cast a valid option ?

Thanks for your support

[2019-10-29 11:13] arturmarkelov opened #131 "Does it work in Delphi 2007?"
Hi, trying to install package in Dephi 2007 (Version 11.0.2627.5503), cause all my project is here and I can't change IDE.
Well, trying D7 package, get this
![image](https://user-images.githubusercontent.com/57136269/67762216-00db1500-fa56-11e9-86f0-fb63a96b1c5d.png)
trying D2010 package, get this
![image](https://user-images.githubusercontent.com/57136269/67762246-12242180-fa56-11e9-8690-956c7468

[2020-02-03 16:06] mina70 opened #133 "Delphi 7 how to fill Body"
Hi,
how to set a json body with "GET" method?

MyToken := Dm.RestClient
               .Resource('http://.../GenToken')
               .Accept(RestUtils.MediaType_Json)
               .Get();

I want to send this json string parameter at the body to the server (with above request)?
{"username": "admin","password": "adminpass"}

thanks

[2020-04-27 12:19] LeandroOLC opened #137 "Delphi 7 - consultas ultilizando Https"
Na versão do delphi 7 e possível fazer consultas ultilizando Https?

[2020-08-07 11:04] Mallik1981 opened #138 "Unable to compile package in Delphi 7"
1.  We got "Incompatible Types: 'Parameter lists differ'" error at line

ssl.OnVerifyPeer := IdSSLIOHandlerSocketOpenSSL1VerifyPeer
![Issue1](https://user-images.githubusercontent.com/69145949/89639730-bed7dd00-d8cb-11ea-9d0d-41c77028886e.JPG);

2. We have the unit IdCompressorZLibEx but used the unit IdCompressorZLib in HttpConnectionIndy.
    So I changed in uses section to use IdCompressorZLibE

[2020-08-20 13:35] jonas-ja opened #139 "Instructions on how to install it on Delphi 7"
Are there any instructions on how to install (compile) it to use it on Delphi 7?

[2020-08-22 10:44] stonestecnologia opened #140 "E2250 There is no overloaded version of 'Post' that can be called with these arguments"
Bom dia !
Parabens pelo pacote, estou muito precisando dessa solucao.
Porem quando vou instalar no xe2 apresenta essa mensagem :

`[DCC Error] RestClient.pas(1036): E2250 There is no overloaded version of 'Post' that can be called with these arguments`

Alguma sugestão ?
Obrigado

[2020-08-24 16:29] techalexx opened #141 "Unable to compile package in Delphi XE"
Delphi XE

[DCC Error] RestClient.pas(1036): E2250 There is no overloaded version of 'Post' that can be called with these arguments
[DCC Error] RestClient.pas(1063): E2250 There is no overloaded version of 'Put' that can be called with these arguments
[DCC Error] RestClient.pas(1100): E2250 There is no overloaded version of 'Patch' that can be called with these arguments
[DCC Error] RestClient.pas

[2020-08-28 01:34] mbirabhadra commented on #108
That worked man!!
Just search the commented lines and go ahead with the full replacements of the associated functions/procedures as suggested above. It will compile!

[2020-08-28 01:35] mbirabhadra commented on #141
Do check the issue **XE4 compiling problem #108** here. There's the solution for no overloaded post, put, patch.

[2020-08-28 01:37] mbirabhadra commented on #140
Check the **XE4 compiling problem #108 issue** here. Theres a solution for the no overloaded post, put, patch

[2020-10-01 01:56] ebraudio commented on #91
//if Field.FieldType.Name.Equals(TMultiPartFormAttachment.ClassName)

  if Field.FieldType.Name = TMultiPartFormAttachment.ClassName then

[2021-03-10 16:49] jonathanbruno commented on #139
There seems to be a package folder for D7

[2021-04-01 14:17] jonathanbruno commented on #137
tbm queria saber, ainda nao consegui

[2021-05-18 14:31] mauacruz commented on #101
@jzapater
On TMultipartFormData.AddFieldContent procedure, replace the line:
`if Field.FieldType.Name.Equals(TMultiPartFormAttachment.ClassName) then`

by
`if SameText(Field.FieldType.Name, TMultiPartFormAttachment.ClassName) then`

It should compile and build the package.

Regards.

[2021-05-26 03:10] RogelioGaytan commented on #131
Did you manage to install it in delphi 2007?

[2021-05-26 06:03] RogelioGaytan commented on #112
How did you install it on delphi 2007 ?

[2021-05-26 06:09] RogelioGaytan opened #144 "Packages for Delphi 2007 are missing"
As title says, in the packages folder there are no folderfor delphi 2007.

Or there is  a trick for installing the library in that version?

[2021-06-22 06:17] RogelioGaytan opened #145 "How to send special characters Delphi 2007?"
Hi

 I'm Having problems making a post call to a rest webservice, i have to send full names of persons, but when they have special characters (like: ñ, á, é, í,  ü)  it causes error.

 For example if you have a name like  "Juan Peña López" that have two special characters.

How can I tell the restclient to manage those special characters ?

Here is my code:

[code]

If I do the same in Postman wit

[2021-06-23 17:55] RogelioGaytan commented on #145
Ok, so i finally ran into an answer, the solution is to use the overloadd version of the post method that receives an string (intead of TStream), and to that string parameter apply the AnsiToUtf8 function that comes in the System unit

[code]

And that's it. I hope it helps someone else. let me know.

[2022-03-11 23:48] xxFALKORxx commented on #139
Tried to install package on folder D7 👍
[Fatal Error] D7_RestApi.dpk(32): Required package 'soaprtl' not found

Don't know where to find that package, im using D7 enterprise.

[2022-11-26 08:48] biGdada opened #149 "minus sign in property name."
Hi. I have to consume a JSON that has a minus sign in one of the name fields. example:
{
    "task-id": "df994c9b-bb5d-4081-a9d9-788face71efb",
    "result": {
        "commission": 0.0
    },
    "state": "SUCCESS"
}

can i override the field name? I'm using Delphi 7.
Thanks.